* {
	box-sizing: border-box;
}


body {
	font-family: verdana, helvetica, arial, sans-serif;
	background-color: #F1F1F1;
	/*background-color: black;*/
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* SMALL: phones unless media role below fires */
@media only screen and (max-width: 499px) {
	.col-sm-00 {display: none;}
	.col-sm-12 {width: 100.00%;}

	.rel-sm-04 {width: 100.00%;}

	.menu p {display: inline;}
}

/* MEDIUM: landscape phones and portrait tablets */
@media only screen and (min-width: 500px) {
	.col-md-00 {display: none;}
	.col-md-01 {width: 8.33%;}
	.col-md-02 {width: 16.66%;}
	.col-md-03 {width: 25.00%;}
	.col-md-04 {width: 33.33%;}
	.col-md-05 {width: 41.66%;}
	.col-md-06 {width: 50.00%;}
	.col-md-07 {width: 58.33%;}
	.col-md-08 {width: 66.66%;}
	.col-md-09 {width: 75.00%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100.00%;}

	.col-md-450-Fixed {width: 450px;}

	.rel-md-04 {width: 100.00%;}
	.rel-md-03 {width: 75.00%;}
	.rel-md-02 {width: 50.00%;}
	.rel-md-01 {width: 25.00%;}
}

/* LARGE: desktop screens or portrait tablets */
@media only screen and (min-width: 1024px) {
	.col-sm-00 {display: initial;}
	.col-md-00 {display: initial;}
	.col-lg-01 {width: 8.33%;}
	.col-lg-02 {width: 16.66%;}
	.col-lg-03 {width: 25.00%;}
	.col-lg-04 {width: 33.33%;}
	.col-lg-05 {width: 41.66%;}
	.col-lg-06 {width: 50.00%;}
	.col-lg-07 {width: 58.33%;}
	.col-lg-08 {width: 66.66%;}
	.col-lg-09 {width: 75.00%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100.00%;}

	.col-lg-450-Fixed {width: 450px;}
	.col-lg-650-Fixed {width: 650px;}
	.col-lg-892-Fixed {width: 892px;}

	.rel-lg-04 {width: 100.00%;}
	.rel-lg-03 {width: 75.00%;}
	.rel-lg-02 {width: 50.00%;}
	.rel-lg-01 {width: 25.00%;}
}

[class*="col-"] {
	float: left;
	border-radius: 10px;
	padding: 1%;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

.ht-500 {height: 500px;}
.ht-400 {height: 400px;}
.ht-300 {height: 300px;}
.ht-250 {height: 250px;}
.ht-200 {height: 200px;}
.ht-100 {height: 100px;}
.ht-095 {height: 095px;}
.ht-080 {height: 080px;}
.ht-078 {height: 078px;}
.ht-073 {height: 073px;}
.ht-050 {height: 050px;}
.ht-010 {height: 010px;}

.wd-200 {width: 200px;}
.wd-100 {width: 100px;}
.wd-095 {width: 095px;}
.wd-078 {width: 078px;}
.wd-073 {width: 073px;}
.wd-080 {width: 080px;}
.wd-050 {width: 050px;}

/* Button Toggle Class */

a.down {
  background: #bbb;
  border-top: solid 1px #777;
  border-left: solid 1px #777;
  border-bottom: solid 1px #eaeaea;
  border-right: solid 1px #eaeaea;
}

/* Standard Class Styling - Please alphabetize */

.altBox {
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.btn-color {
	background-color: #FFF;
	float: left;
	margin: 5px;
}

.buttonDiv{
  background-color: black;
  border: none;
  color: white;
  padding: 3% 17%;
  text-align: center;
  font-size: 70%;
  cursor: pointer;
  display: inline-block;
}

.buttonDiv:hover {
  background-color: green;
}

.buttonVisRed {
	margin: 5px;
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: rgb(200,0,0); color: rgb(255,255,255);
    border-style: solid; border-width: 2px;
    border-color: rgb(255,0,0) rgb(100,0,0) rgb(100,0,0) rgb(255,0,0);
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    height: 50px;
    width: 200px;
}

.buttonVisRed:active {
    border-color: rgb(100,0,0) rgb(255,0,0) rgb(255,0,0) rgb(100,0,0);
}

.buttonVisStd {
	margin: 5px;
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    height: 50px;
    width: 200px;
}

.buttonVisStd:active {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.footer{
	   width: 50%;
	   height: 25%;
	   margin-left: auto;
	   margin-right: auto;
}

.h1text {
	font-family: helvetica;
	text-align: left;
	font-size: 200%;
}

.img-wd-hm {
	height: 684;
	width: 1028;
}

.img-tl-hm {
	height: 684;
	width: 428;
}

.ltBox {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	text-align: center;
	padding: 10px;
}

#LogInPage{
	background: teal;
}

.logRow img{
	height: 150px;
	width: 150px;
}

.minBox {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
}

.outfitPictureHolder{
	width: 50%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
}

.outfitPictureHolder img{
	width: 100%;
	height: auto;
}

.regRow, .logRow{
	background: #000;
	color: #fff;

}

.regRow p{
	margin:0;
	padding:0;
	font-weight: bold;
}

.regRow input, .logRow input{
	width: 100%;
	margin-bottom: 20px;
	/*background: #000;*/
}

.regRow input[type="text"], .logRow input[type="text"], .logRow input[type="password"]{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.regRow a, .logRow a{
	border:none;
	outline:none;
	background:#fb2525;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.spacer {
	background-color: #F1F1F1;
}

.stdBox {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.textHeader {
	text-align: left;
}